@model IQueryable<BookViewModel>

<div class="container-fluid">
    <div class="text-center">
        <h1 style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); min-height: 60px" >Admin page</h1>
    </div>

    @if (TempData["N"] != null && TempData["N"]?.ToString() != string.Empty)
    {
        if (TempData["N"]?.ToString()?.Last() == ')')
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @TempData["N"]?.ToString()
            </div>
        }
        else if (TempData["N"]?.ToString()?.Last() == '(')
        {
            <div class="alert alert-danger">
                <strong>Success!</strong> @TempData["N"]?.ToString()
            </div>
        }

        TempData["N"] = string.Empty;
    }

    <div class="row">
        <div class="col-12 col-md-3">
            @await Component.InvokeAsync("Category")
        </div>
        <div class="col-12 col-md-9">
            <div class="table-responsive">
                <table class="min-vh-30 table table-striped table-dark table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" scope="col">Id</th>
                            <th class="text-center" scope="col">Name</th>
                            <th class="text-center" scope="col">Category</th>
                            <th class="text-center" scope="col">Theme</th>
                            <th class="text-center" scope="col">Author</th>
                            <th class="text-center" scope="col">Press</th>
                            <th class="text-center" scope="col">Price</th>
                            <th class="text-center" scope="col">Count</th>
                            <th class="text-center" scope="col">Description</th>
                            <th class="text-center" scope="col" style="width: 200px;">Action</th>
                        </tr>
                    </thead>
                    <books Area=true Items="@Model"></books>
                </table>
            </div>
        </div>
    </div>
</div>